@charset "utf-8";

img{
	width:100%;
}
.logo{
    width: 50%;
}
.shop{
	background-color: #F78486;
	width: 100%;
}
.cakes{
    background-color: #88fc04;
    float: left;
}
.surround1{
    padding: 1%;
    width: 48%;
    float: left;
}
.wrap{
    background-color: #037386;
    display: flex;
    flex-wrap: wrap;
}
.shell{
	margin: 0 auto;
	width: 50%;
}